name: Release on Tag

on:
  workflow_dispatch:
  push:
    tags:
      - "js-*"
      - "pino-*"
      - "winston-*"
      - "logging-*"
      - "react-*"
      - "nextjs-*"

env:
  PNPM_VERSION: 10.4.1
  TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
  TURBO_TEAM: ${{ vars.TURBO_TEAM }}

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
        with:
          version: ${{ env.PNPM_VERSION }}
      - uses: actions/setup-node@v6
        with:
          node-version: 24.x
          registry-url: "https://registry.npmjs.org"
          cache: "pnpm"
      - run: pnpm install --frozen-lockfile
      - run: pnpm build && pnpm build:cjs
      - run: pnpm publish --access public --filter "./packages/**" --no-git-checks --provenance
